version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: monthly
    timezone: Europe/London
  reviewers:
    - "justeattakeaway/statsd"
- package-ecosystem: nuget
  directory: "/"
  groups:
    xunit:
      patterns:
        - xunit*
  schedule:
    interval: monthly
    timezone: Europe/London
  reviewers:
    - "justeattakeaway/statsd"
  open-pull-requests-limit: 10
  ignore:
    - dependency-name: "Microsoft.Extensions.DependencyInjection"
      update-types: ["version-update:semver-minor"]
    - dependency-name: Microsoft.Extensions.DependencyInjection.Abstractions
    - dependency-name: System.Memory
