*.cache
*.log
*.orig
*.sublime-workspace
*.suo
*.user
*_NCrunch*
*_ReSharper*
_ReSharper*
artifacts
bin
obj
out
packages
project.lock.json

.vs
.dotnetcli

!3rdparty/*/bin

lint.db
# Do not include these specfic configuration files as they will be generated
src/*/[W|w]eb.config
src/*/[N|n]log.config
src/*/[C|c]onnectionstrings.config

!nuget.exe
