<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <packageRestore>
      <add key="enabled" value="True"/>
      <add key="automatic" value="True"/>
    </packageRestore>
    <packageSources>
      <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
      <add key="JE package source" value="https://packages.je-labs.com/nuget/Default/" />
    </packageSources>
  </solution>
</configuration>
