<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   autoReload="true"
	  internalLogLevel="Warn" internalLogFile="${basedir}\logs\libs-statsd-nlog-log.log">

	<!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
	<variable name="LogFilePath" value="${basedir}\logs\libs-statsd-${shortdate}.log" />
	<variable name="ExceptionLayout" value="${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method} (${stacktrace:topFrames=10})" />
	<variable name="VerboseLayout" value=" ${longdate} | [${level:upperCase=true}] ${machinename}| ${message} | ${onexception:${ExceptionLayout}}" />

	<variable name="ExceptionLayoutWithNewLines" value="${newline}EXCEPTION\: ${exception:format=tostring:maxInnerExceptionLevel=5:innerFormat=tostring}${newline} Stack Trace\: (${stacktrace:topFrames=10})" />
	<variable name="VerboseLayoutWithNewLines" value="[${level:upperCase=true}]${newline} Machine: ${machinename}${newline} ${longdate}${newline} Logger: ${logger}${newline} Message: ${message}${newline}${newline} Call site: (${callsite:className=true:methodName=true:includSourcePath=true}) ${onexception:${ExceptionLayoutWithNewLines}}"/>
	<targets async="true">
		<!-- console logging -->
		<target name="console" xsi:type="ColoredConsole" layout="${VerboseLayout}"/>
		<!-- file logging -->
		<target name="file" xsi:type="File" fileName="${LogFilePath}" layout="${VerboseLayout}" />
		<!-- event log -->
		<target name="eventLog" xsi:type="MarkEventLog" source="${Application}" layout="${VerboseLayoutWithNewLines}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>