<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.16.5" targetFramework="net452" />
  <package id="AutoFixture.AutoFakeItEasy" version="3.16.5" targetFramework="net452" />
  <package id="FakeItEasy" version="1.25.2" targetFramework="net452" />
  <package id="JustBehave" version="0.63" targetFramework="net452" />
  <package id="NLog" version="2.1.0" targetFramework="net452" />
  <package id="NUnit" version="2.6.3" targetFramework="net452" />
  <package id="Shouldly" version="2.5.0" targetFramework="net452" />
</packages>