<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	throwExceptions="true" autoReload="true">
	<variable name="statsd" value="udp://monitor.je-labs.com:8125" />
	<targets async="true">
		<target name="StatsD-Aggregate" xsi:type="Network" layout="orderengine.${logger}.${message}" Address="${statsd}" Newline="true"/>
		<target name="StatsD-ByCountry" xsi:type="Network" layout="uk.orderengine.${logger}.${message}" Address="${statsd}" Newline="true"/>
		<target name="Console" xsi:type="Console" layout="${time} - orderengine.${logger}.${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="Console,StatsD-Aggregate,StatsD-ByCountry"/>
	</rules>
</nlog>
